body {
    font-family:'Bebas Neue', cursive;;
}
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}
.navegacion {
    position: fixed;
    width: 100%;
}

.navegacion .container-fluid .navbar-brand img {
    width: 75px;
    height: 75px;
}

.banner {
    width: 100%;
    height: 500px;
}

.banner .inner-banner {
    background-image: url('images/freegifmaker.me_2hyGm.gif');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.banner .inner-banner h1 {
    padding-top: 225px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.banner .inner-banner p {
    padding-top: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;

}

.utilidades {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,1fr);
}

.utilidades .info-util-uno {
    background-color: #1c003b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.utilidades .info-util-dos {
    background-color: #bc4ed8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.utilidades .info-util-uno h3{
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}

.utilidades .info-util-dos h3{
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}

.utilidades .info-util-uno p{
    color: #ffffff;
    font-size: 16px;
}

.utilidades .info-util-dos p{
    color: #ffffff;
    font-size: 16px;
}

.utilidades .imagen-util img{
    width: 100%;
    height: 100%;
}

.opiniones-caja {
    width: 100%;
    background-color: #1c003b;
    height: auto;
}
.opinions {
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 295px;
}


.faq {
    padding-top: 15px;
    background-color: #bc4ed8
}

.faq .faq-texto {
    width: 75%;
    padding-left: 295px;
    text-align: center;
    color: white;
}

.faq .acordeon {
    width: 75%;
    padding: 25px 0 25px 295px;
}

.msj-final {
    background-color: #1c003b;
}


.msj-final .texto-mensaje-final {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.msj-final .boton-mensaje-final {
    display: flex;
    justify-content: center;
}

.btnr {
    background-color: #bc4ed8;
    color: white;
    border-radius: 8px 8px 8px 8px;
}

.btnm {
    background-color: #1c003b;
    color: white;
    border-radius: 8px 8px 8px 8px;
}

.pie-pag .info-pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.pie-pag hr {
    margin: 0;
}
.pie-pag .iconos-redes {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.pie-pag .iconos-redes a {
    width: 50px;
    height: 50px;
}

.pie-pag .iconos-redes img {
    width: 100%;
}